.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;

    overflow: hidden;
}

.iconfont {
    font-family: "iconfont";
}

@font-face {
    font-family: 'iconfont';  /* project id："174931" */
    src: url('//at.alicdn.com/t/font_39mla6lbrb1yk3xr.eot');
    src: url('//at.alicdn.com/t/font_39mla6lbrb1yk3xr.eot') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_39mla6lbrb1yk3xr.woff') format('woff'),
    url('//at.alicdn.com/t/font_39mla6lbrb1yk3xr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_39mla6lbrb1yk3xr.svg#iconfont') format('svg');
}