.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.iconfont {
    font-family: "iconfont";
}

@font-face {
    font-family: 'iconfont';  /* project id："174931" */
    src: url('//at.alicdn.com/t/font_ydc4c95kqy8n0zfr.eot');
    src: url('//at.alicdn.com/t/font_ydc4c95kqy8n0zfr.eot') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_ydc4c95kqy8n0zfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_ydc4c95kqy8n0zfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_ydc4c95kqy8n0zfr.svg#iconfont') format('svg');
}