/**
 * Chat Styles
 * @author memory<service@im050.com>
 */

body {
    margin: 0;
    background-color: #ebebeb;
    padding: 0px;
    font: normal 12px "Microsoft yahei";
}

.warp {
    position: absolute;
    left: 90px;
    right: 300px;
    top: 0;
    bottom: 0;
    height: 100%;
}

.top-bar {
    background: #f9f9f9;
    border-bottom: #ddd 1px solid;
    text-align: left;
    font: normal 18px/65px "Microsoft yahei";
    height: 65px;
    top: 0px;
    padding: 0 20px;
    left: 90px;
    position: absolute;
    right: 0px;
}

.online-panel {
    background: #f1f1f1;
    top: 65px;
    border-left: 1px solid #ddd;
    right: 0px;
    width: 300px;
    height: auto;
    padding: 15px;
    bottom: 0px;
    position: absolute;
}

.online-panel h4 {
    line-height: 24px;
}

.online-panel h4 span {
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}

.online-list {
    margin: 0;
    padding: 0;
}

.online-list li {
    width: 42px;
    height: 42px;
    border-radius: 5px;
    list-style: none;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all ease .1s;
}

.online-list li img {
    border-radius: 5px;
}

.online-list li:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: all ease .1s;
}

.tips {
    position: relative;
    text-align: center;
}

.tips:after {
    content: attr(data-content);
    position: absolute;
    width: auto;
    padding: 0 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    max-width: 200px;
    bottom: -40px;
    margin: 0 auto;
    visibility: hidden;
    z-index: 999;
    color: #fff;
    left: 0;
    transition: all ease .2s;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
}

.tips:before {
    content: "";
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
    border-width: 5px;
    visibility: hidden;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    transition: all ease .2s;
    opacity: 0;
    left: 5px;
}

.tips:hover:after, .tips:hover:before {
    visibility: visible;
    transition: all ease .2s;
    opacity: 1;
    display: block;
}

.chat {
    width: auto;
    left: 0px;
    right: 0px;
    position: absolute;
    padding: 0 10px;
    top: 65px;
    bottom: 85px;
    overflow: auto;
}

.chat-panel {
    position: absolute;
    bottom: 0px;
    height: 85px;
    border-top: #ddd 1px solid;
    width: auto;
    background: #f4f4f6;
}

.input-panel {
    height: 35px;
    background: #f1f1f1;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.input-panel ul {
    width: auto;
    float: left;
    margin: 0;
    padding: 0;
}

.input-panel ul li {
    color: #999;
    font-size: 18px;
    float: left;
    list-style: none;
    line-height: 35px;
    cursor: pointer;
    width: 35px;
    text-align: center;
}

.input-panel ul li:hover {
    color: #333;
}

.login {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ececec;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    z-index: 999;
    padding: 20px;
    margin: -150px 0 0 -150px;
}

.message-list {
    margin: 0;
    padding: 0;
}

.message-list li {
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
    position: relative;

}

.message-list .face {
    width: 32px;
    height: 32px;
    position: absolute;
}

.content {
    display: inline-block;
    width: auto;
    background: #fff;
    max-width: 60%;
    word-break: break-all;
    word-wrap: break-word;
    color: #000;
    line-height: 32px;
    padding: 0 10px;
    border-radius: 5px;
    position: relative;
}

.owner .face {
    right: 0px;
}

.owner .message-layer {
    text-align: right;
    margin: 0 42px 0 0;
}

.owner .content {
    background: #a2e759;
}

.content:after {
    content: "";
    border-color: transparent #fff transparent transparent;
    top: 10px;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    left: -9px;
}

.owner .content:after {
    content: "";
    border-color: transparent transparent transparent #a2e759;
    right: -9px;
    left: auto;
}

.nickchen {
    padding-left: 3px;
    margin-bottom: 2px;
    color: #666;
    font-weight: bold;
}

.time {
    display: none;
}

.message-layer {
    margin: 0 0 0 42px;
    width: auto;
}

.clearfix {
    zoom: 1;
    visibility: hidden;
    clear: both;
}

.message-input {
    width: auto;
    margin: 5px 20px;
}

.chat-navigation {
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    background: url(../images/bg.jpg);
}

.chat-navigation:before {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 90px;
    width: 0px;
    overflow: hidden;
    height: 100%;
    z-index: 999;
    background: url(../images/bg.jpg);
    transition: width .3s ease-in-out;
}

.sidebar:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.sidebar-layer {

    width: 300px;
    padding: 20px;
    height: 100%;
    color: #f1f1f1;
    position: absolute;
    z-index: 2;
    overflow: auto;
    top: 0;
    right: 0;
}

.number-tip {
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background: red;
    display: block;
    position: absolute;
    right: -50px;
    color: #fff;
    top: -35px;
}

.menu {
    margin: 0 0 20px 0;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    float: left;
    width: 100%;
    height: 70px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    padding: 20px 0 26px 0;
    text-align: center;
    transition: all ease .2s;
    cursor: pointer;
    position: relative;
}

.menu ul li:hover {
    color: rgba(255, 255, 255, 1);
    transition: all ease .2s;
}

.menu ul li span {
    position: relative;
    z-index: 9;
}

.menu ul li:after {
    content: "";

    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    transition: all ease .2s;
}

.menu ul li:hover:after {
    content: "";
    background: rgba(0, 0, 0, .3);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    transition: all ease .2s;
}

.bottom-menu {
    width: 90px;
    position: absolute;
    bottom: 0;
}